DirectoryIndex index.html index.php index.htm

<IfModule mod_rewrite.c>
RewriteEngine On
ErrorDocument 403 /Error/403.html
ErrorDocument 404 /Error/404.html
ErrorDocument 500 /Error/500.html
</IfModule>

Options -Indexes
Options +FollowSymlinks

<Files .htaccess>
deny from all
</Files>
