DirectoryIndex index.php index.html index.htm

<IfModule mod_rewrite.c>
RewriteEngine On
ErrorDocument 400 /Error/ErrorList.html
ErrorDocument 403 /Error/403.html
ErrorDocument 404 /Error/404.html
ErrorDocument 500 /Error/500.html
ErrorDocument 501 /Error/ErrorList.html
ErrorDocument 502 /Error/ErrorList.html
ErrorDocument 503 /Error/ErrorList.html
ErrorDocument 504 /Error/ErrorList.html
</IfModule>

Options -Indexes
Options +FollowSymlinks

<Files .htaccess>
deny from all
</Files>
