  <footer>
  <div class="col-md-10 col-md-offset-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 col-xs-6">
          <h3>Sector</h3>
          <p><a href="">Page</a></p>
          <p><a href="">Page</a></p>
          <p><a href="">Page</a></p>
          <p><a href="">Page</a></p>
        </div>

        <div class="col-md-2 col-xs-6">
          <h3>Sector</h3>
          <p><a href="">Page</a></p>
          <p><a href="">Page</a></p>
          <p><a href="">Page</a></p>
          <p><a href="">Page</a></p>
        </div>

        <div class="col-md-2 col-xs-6">
          <h3>Sector</h3>
          <p><a href="">Page</a></p>
          <p><a href="">Page</a></p>
          <p><a href="">Page</a></p>
          <p><a href="">Page</a></p>
        </div>

        <div class="col-md-2 col-xs-6">
          <h3>Connect</h3>
          <p><a href="https://www.facebook.com/gooddoba/">Facebook</a></p>
          <p><a href="">Twitter</a></p>
          <p><a href="">YouTube</a></p>
          <p><a href="">LinkedIn</a></p>
        </div>

        <div class="col-md-4 col-xs-12">
          <center>
          <h3><img src="http://web.sinchronize.com/images/sinchronize.png"> Sinchronize</h3>
            <!-- Enable ToolTip functionality -->
            <script> $(function () {$('[data-toggle="tooltip"]').tooltip()}) </script>

            Change Language

            <div id="google_translate_element" data-toggle="tooltip" data-placement="top" title="Navigate the website in the language you like. Powered by Google Translate"></div>
            <script type="text/javascript"> function googleTranslateElementInit() {new google.translate.TranslateElement({pageLanguage: 'en', multilanguagePage: true, gaTrack: true, gaId:'UA-86183782-1'}, 'google_translate_element');}</script>
            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

          <br>

          <p><a href="">Sitemap</a> | <a href="http://web.sinchronize.com/Pages/status.html">Status</a> | <a href="">Contact Us</a></p>
</center>
        </div>
      </div>
    </div>

</footer>
</body>
</html>
