<style>body{font-family: 'Roboto', sans-serif; padding-top: 71px;} #colorful{background-color: #2E7D32;} #lesscolorful{background-color: #43A047;} #link{text-decoration: none; color:  #ffffff;} #heading{text-transform: uppercase; color:  #FF9800; text-decoration: none;} #title{text-transform: uppercase; text-align:  center; color:  #ffffff; text-decoration: none;}</style>
  <footer id="colorful">
  <div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="row">
        <div class="col-md-2 col-xs-6">
          <h3 id="heading">Accounts</h3>
          <p><a id="link" href="/Pages/upload.php" >Upload</a></p>
          <p><a id="link" href="/Pages/login.php" >Login</a></p>
          <p><a id="link" href="/Pages/logout.php" >Logout</a></p>
          <p><a id="link" href="/Pages/pagesameple.php" >Sample Page</a></p>
        </div>

        <div class="col-md-2 col-xs-6">
          <h3 id="heading">Availability</h3>
          <p><a id="link" href="/Pages/status.php" >Web Status</a></p>
          <p><a id="link" href="/Pages/ErrorList.php" >Error Page</a></p>
          <p><a id="link" href="http://console.aws.amazon.com" >AWS Console</a></p>
          <p><a id="link" href="/phpmyadmin" >PHPMyAdmin</a></p>
        </div>

        <div class="col-md-2 col-xs-6">
          <h3 id="heading">Resources</h3>
          <p><a id="link" href="http://getbootstrap.com" >BootStrap</a></p>
          <p><a id="link" href="http://fonts.google.com" >Google Fonts</a></p>
          <p><a id="link" href="http://fontawesome.io/" >FontAwesome</a></p>
          <p><a id="link" href="https://www.google.com/webmasters/tools" >Google Search Console</a></p>
        </div>

        <div class="col-md-2 col-xs-6">
          <h3 id="heading">Connect</h3>
          <p><a id="link" href="https://www.facebook.com/gooddoba/">Facebook</a></p>
          <p><a id="link" href="https://twitter.com/POTUS?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" >Twitter</a></p>
          <p><a id="link" href="https://www.youtube.com/feed/subscriptions" >YouTube</a></p>
        </div>

        <div class="col-md-4 col-xs-12" id="lesscolorful">
          <center>
          <h3 id="title"><img src="http://web.sinchronize.com/images/sinchronize.png"> Sinchronize</h3>
            <!-- Enable ToolTip functionality -->
            <script> $(function () {$('[data-toggle="tooltip"]').tooltip()}) </script>

            Change Language

            <div id="google_translate_element" data-toggle="tooltip" data-placement="top" title="Change the website to the language you like. Powered by Google Translate"></div>
            <script type="text/javascript"> function googleTranslateElementInit() {new google.translate.TranslateElement({pageLanguage: 'en', multilanguagePage: true, gaTrack: true, gaId:'UA-86183782-1'}, 'google_translate_element');}</script>
            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

          <br>

          <p id="link"><a id="link" href="">Sitemap</a> | <a id="link" href="http://web.sinchronize.com/Pages/status.html">Status</a> | <a id="link" href="">Contact Us</a></p>
</center>
        </div>
      </div>
      </div>
    </div>

</footer>
</body>
</html>
